#contact iframe
{
    width: 100%;
}
.travel_mainDiv{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
}

.travel_mainDiv h5 , .travel_mainDiv p{
    margin: 20px;
}

.hobby_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius:10px ;
    margin-bottom: 15px;
}

.hobby_head i{
float: right;
}

.book hr
{
margin-bottom: 10px;
}

#contact iframe
{
width: 100%;
}